* {
  box-sizing: border-box; 
}


:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text-color: #444343; 
  --background-color: #e6e6e6; 
  --border-color: #d0dffa;
  --border-radius: 4px;
  --spacing-md: 1rem; 
  --primary-color: #5a65ff; 
}

html, body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.8; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
}

body {
  min-height: 100vh; 
  padding: 1rem; 
}

h1, h2, h3 {
  color: var(--primary-color); 
  margin-bottom: var(--spacing-md);
  font-weight: 600;
}

a {
  color: var(--primary-color); 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

nav {
  display: flex; 
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

nav a {
  font-weight: 500; 
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  transition: var(--background-color) 0.4s; 
}

nav a:hover {
  background-color: var(--background-color); 
  color: #0919fd; 
}

ul {
  list-style: none; 
}

li {
  background-color: #b0b1ff; 
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  transition: box-shadow 0.4s;
}

li:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

button {
  background-color: rgb(255, 255, 255); 
  color: #2c3aff; 
  border: 1px solid var(--primary-color); 
  border-radius: var(--border-radius); 
  cursor: pointer; 
  font-weight: 400; 
  transition: background-color 0.2s, box-shadow 0.2s; 
  padding: 5px; 
  margin: 5px; 
}

button:hover {
  background-color: #dbddff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form {
  background-color: #b9baff; 
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: var(--spacing-md);
  max-width: 400px;

}

form div {
  margin-bottom: var(--spacing-md);
}

label {
  display: block; 
  margin-bottom: 0.3rem; 
  font-weight: 600;
  
}

input, textarea {
  padding: 2px; 
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1rem; 
}

img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  border-radius: var(--border-radius);
}








